*{
          margin: 0px;
          font-family: Arial, Helvetica, sans-serif;
}

body{
          background-color: rgba(182, 182, 182, 0.459);
          display: flex;
          align-items: center;
          justify-items: center;
          justify-content: center;
}

#card{
          display: inline-block;
           
            
          border-radius: 30px;
          margin-top: 20vh;
          height: auto;
          background-color: white;
}

#imgC{
           
          
          display: flex;
          align-items: center;
          justify-content: center;
           
          
}

#imgC > img {
          width:clamp(350px, 70vw ,600px);
          padding: 20px;
          border-radius: 30px;
}

#tiitleC{
          margin: 10px 10px 20px 40px;
          font-weight: bold;
          

}
#contentC{

           margin: 10px 10px 20px 40px;
}


#priceandBtn{
          margin: 40px;
           
          display: flex;
          justify-content: space-between;

         
}

button{
          margin-right: 30px;
          width: 150px;
          height: 40px;
          background-color: rgb(0, 183, 255);
          border-radius: 15px;
          color: white;
          padding: 10px;
          border: none;
          box-shadow: 7px 7px 20px 1px rgba(0, 0, 0, 0.432);
}

button:hover{
          transform: scale(1.1);
}
